<!-- Tyler Holhubner - NKU - Spring 2014 -->
<!-- Allows the user to edit their personal information -->

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Bueller System</title>
	</head>

	<body>
		<div class="container-fluid">
			<div class="span10">
				<nav class="navbar navbar-default" role="navigation">
					<div class="container-fluid">
						<div class="navbar-header">
						    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
						        <span class="sr-only">Toggle navigation</span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						        <span class="icon-bar"></span>
						    </button>
						    <a class="navbar-brand" href="#">Bueller</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li><%= link_to "Home", controller: "students" %></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  <% if current_student %>
                    <p class="navbar-text current-student">
                      Hi <%= current_student.name %>! <%= link_to "Edit your profile", profile_path %>
                    </p>
                    <%= link_to "Sign out", sign_out_path, class: "btn btn-default navbar-btn"%></li>
                  <% else %>
                    <%= link_to "Sign up", new_student_path, class: "btn btn-default navbar-btn" %>
                    <%= link_to "Sign in", new_session_path, class: "btn btn-primary navbar-btn" %>
                  <% end %>
                </ul>
						</div>
          </div>
				</nav>
			</div>

      <h1>New Student Sign Up</h1>
      <br />
      <%= render partial: 'form', locals: {submit_copy: 'Update profile'} %>
    </div>
  </body>
</html>