<!-- Tyler Holhubner - NKU - Spring 2014 -->
<!-- Main page, displays currently enrolled students and holds the link for sign up -->
<h1>Welcome to the Bueller Student System</h1>
<br />
<h3>Registered Students</h3>
<table class="table">
  <tr>
    <th>Image:</th>
    <th>Name:</th>
    <th>Nickname:</th>
    <th>Email:</th>
    <th>Grades:
  </tr>
  <% @students.each do |student| %>
  <tr>
    <td><%= student.imageUrl %></td>
    <td><%= student.name %></td>
    <td><%= student.nickname %></td>
    <td><%= student.email %></td>
    <td><%= link_to "View Grades", view_assignments_path %></td>
  </tr>
  <% end %>
</table>
<%= link_to "Log Attendance", attendances_path, class: "btn btn-primary navbar-btn" %>
