<h1>Attendance for <%= Date.today %></h1>

<div class="panel panel-primary">
  <div class="panel-heading">Quadrant 1</div>
  <div class="panel-body">
    <ul>
      <% @in_seat_1.each do |student| %>
      <li><%= student.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Quadrant 2</div>
  <div class="panel-body">
    <ul>
      <% @in_seat_2.each do |student| %>
      <li><%= student.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Quadrant 3</div>
  <div class="panel-body">
    <ul>
      <% @in_seat_3.each do |student| %>
      <li><%= student.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Quadrant 4</div>
  <div class="panel-body">
    <ul>
      <% @in_seat_4.each do |student| %>
      <li><%= student.name %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= link_to "Log Attendance", new_attendance_path, class: "btn btn-primary navbar-btn" %>